.hover-Interactions {
  width: 1024px;
  height: 1024px; }
  .hover-Interactions .Rectangle-8 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 975px;
    height: 892px;
    border-radius: 42.5px;
    background-color: #ffffff;
    padding: 23px 66px 23px 66px; }
    .hover-Interactions .Rectangle-8 .avatar-section {
      width: 392px;
      height: 892px;
      border-radius: 42.5px 0px 0px 42.5px;
      background-color: #ffd500; }
      .hover-Interactions .Rectangle-8 .avatar-section .page-1 {
        width: 238px;
        height: 238px;
        object-fit: contain; }
        .hover-Interactions .Rectangle-8 .avatar-section .page-1 .avatar {
          padding-left: 75px;
          padding-top: 163px;
          padding-right: 79px;
          padding-bottom: 120px; }
        .hover-Interactions .Rectangle-8 .avatar-section .page-1 .Front-end-challenge {
          height: 28px;
          font-family: Arial;
          font-size: 24px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #383838; }
        .hover-Interactions .Rectangle-8 .avatar-section .page-1 .description {
          width: 311px;
          height: 55.3px;
          font-family: Arial;
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.53;
          letter-spacing: normal;
          text-align: center;
          color: #383838;
          padding-left: 40px; }
        .hover-Interactions .Rectangle-8 .avatar-section .page-1 .Group-3 {
          width: 64px;
          height: 64px;
          object-fit: contain;
          padding-left: 163px;
          padding-right: 165px;
          padding-top: 50px;
          padding-bottom: 0px; }
      .hover-Interactions .Rectangle-8 .avatar-section .panel-wrap {
        position: absolute;
        top: 30px;
        bottom: 0;
        left: 0;
        width: 28em;
        transform: translateX(100%);
        transition: left .3s ease-in-out; }
      .hover-Interactions .Rectangle-8 .avatar-section .panel:target {
        left: 0; }
      .hover-Interactions .Rectangle-8 .avatar-section .panel {
        width: 583px;
        height: 862px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
        padding: 1em;
        border-radius: 0 42.5px 42.5px 0;
        background: #ff9200; }
        .hover-Interactions .Rectangle-8 .avatar-section .panel .my-world-today {
          width: 263px;
          height: 43px;
          font-family: Arial;
          font-size: 25px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #383838; }
        .hover-Interactions .Rectangle-8 .avatar-section .panel .Pellentesque-habitan {
          height: 303.9px;
          font-family: Arial;
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.53;
          letter-spacing: normal;
          text-align: left;
          color: #383838; }
    .hover-Interactions .Rectangle-8 .form-section {
      width: 583px;
      height: 892px;
      border-radius: 0 42.5px 42.5px 0;
      background-color: #ffffff; }
      .hover-Interactions .Rectangle-8 .form-section img {
        padding-top: 20px; }
      .hover-Interactions .Rectangle-8 .form-section label {
        float: left;
        width: 150px;
        height: 16.5px;
        font-family: Arial;
        font-size: 14.8px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        padding-left: 35px;
        padding-right: 15px;
        padding-top: 20px;
        margin-top: 15px;
        clear: left;
        color: #373d40; }
      .hover-Interactions .Rectangle-8 .form-section input {
        margin-top: 15px;
        width: 350.9px;
        height: 53px;
        border-radius: 5.3px;
        background-color: rgba(245, 248, 249, 0.3);
        border: solid 1px #cad7dd;
        color: #cad7dd;
        font-family: Arial;
        font-size: 18px; }
      .hover-Interactions .Rectangle-8 .form-section ::placeholder {
        color: #b1bfcd;
        font-size: 13px;
        padding-left: 20px; }
      .hover-Interactions .Rectangle-8 .form-section .gender-label {
        width: 80.4px;
        height: 16.5px;
        font-family: Arial;
        font-size: 14.8px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #b1bfcd; }
      .hover-Interactions .Rectangle-8 .form-section .button-wrap {
        padding-left: 230PX; }
        .hover-Interactions .Rectangle-8 .form-section .button-wrap .btn-cancel {
          width: 158.7px;
          height: 53px;
          border-radius: 5.3px;
          background-color: #cad7dd;
          font-family: Arial;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #373d40; }
        .hover-Interactions .Rectangle-8 .form-section .button-wrap .btn-save {
          width: 158.7px;
          height: 53px;
          border-radius: 5.3px;
          background-color: #49c8a8;
          font-family: Arial;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff; }

/*# sourceMappingURL=style.css.map */
